jyothi/src/main/mule/jyothi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7411b3e1-91e5-4c4d-a106-0763b54ccbc6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="579da485-1098-4f89-bd26-3c50903639aa" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="MK07" database="vineethdb" />
	</db:config>
	<flow name="jyothiFlow" doc:id="23b9bcbc-de4a-471b-b04f-99cc32e197d9" >
		<http:listener doc:name="Listener" doc:id="4e462eab-2ca0-494e-8600-f027edf80607" config-ref="HTTP_Listener_config" path="gen"/>
		<ee:transform doc:name="Transform Message" doc:id="16d1f3dc-af57-4e95-8e38-2b31e0373277" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map{
	empid : 1 + $$,
	name : "vineeth",
	gender : "male"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="jyothiBatch_Job" doc:id="ef671103-e844-479d-b79f-eb3e646d8691" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="9ea9c01d-bdde-4a80-89a7-b4e0b9ebf963" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="331fcdfe-094c-4b18-b197-6b5f314f47a4" size="20">
						<db:insert doc:id="c3b06f74-10eb-4f33-b4f9-c33d33a497d5" config-ref="Database_Config">
			<db:sql><![CDATA[insert into karuna(empid, name, gender)
values(:empid, :name, :gender);
]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
						<logger level="INFO" doc:name="Logger" doc:id="7d9fa158-3471-48a2-ac99-915cedbfe79b" message="payload" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="9a15ce0d-2e7d-4532-a5f9-46caa6b3657b" message="payload" />
				<ee:transform doc:name="Transform Message" doc:id="8364742d-75c3-4866-b1c3-615ddaeb4c8e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
